form {
  max-width:600px;	border:solid 1px;
	border-radius: 9px;
  padding:1em;
  
  background:rgba(128,128,128,0.06);
	border-top-color:rgba(255,255,255,0.16);
	border-right-color:rgba(255,255,255,0);
	border-bottom-color:rgba(255,255,255,0);
  border-left-color:rgba(255,255,255,0.16);
  
  box-shadow: 0 1px 1px 2px rgba(0,0,0,0.125);
  /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/
  
  margin: 0 auto;
}

legend {
  font-size: 2em;
  border-bottom: 1px solid rgba(128,128,128,0.5);;
}

.field-set {
  max-width: 67%;
  margin: 0 auto;
}

div.actions{
  width:100%;
  padding-top: 1em;
}

input {
  font-size: 2em;/*
  border-top-color: #080709;
  border-right-color: #474549;
  border-bottom-color: #474549;
  border-left-color: #080709;*/
  border-radius: 10px;
  border-color: rgba(128,128,128,0.5);
  border-width: 1px;
  margin-bottom: 16px;
  padding-left: .5em;
  width:100%;
}
textarea {
  font-size: 1.25em;/*
  border-top-color: #080709;
  border-right-color: #474549;
  border-bottom-color: #474549;
  border-left-color: #080709;*/
  border-radius: 10px;
  border-color: rgba(128,128,128,0.5);
  border-width: 1px;
  margin-bottom: 16px;
  padding-left: .5em;
  width:100%;
}

input:focus,input:hover {
  box-shadow: inset 0 0 10px 5px rgba(81,164,237,0.5);/*
  background:rgba(8, 17, 237, 0.31);
  border:1px solid #FFF;*/
  color:#333;
  outline:none;
}
input[type="checkbox"]{
  width:20px;
}
input[type="checkbox"]:focus, input[type="checkbox"]:hover{
  box-shadow: inset 0;
}

.button {
	transition: all 0.1s;
  -webkit-transition: all 0.1s;
	position: relative;
  float: left;
	border-radius: 10px;
	font-size: 2em;
	color: #FFF;
  text-decoration: none;
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.button:hover {
  background-color: rgb(108, 192, 248);
  color: #FFF;
  box-shadow:0;
}

.button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
#error_explanation {
  color: red;
  font-weight: bold;
}