.login {
    /*background-color:#3a3e4c;*/
    color:#dbe7f9;
    /*height: 30px;*/
    width: 100vw;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin: 0;
    padding:0;
    font-size: 1.25em;
    a {
        color:#dbe7f9;
        margin: 25px;
        text-shadow: 2px 2px 15px #000000;
    }
}


.home-banner {
    width: 35vw;
    background-color:#3a3e4c;
    border-bottom-right-radius: 50px;
    padding:10px;
    text-align: left;
}
.alerts {
    display:none;
}
.login-container {
    color:#dbe7f9;
    width: 35vw;
    background-color:#3a3e4c;
    border-bottom-left-radius: 50px;
    padding:10px;
}
.main-splash {
    color: #dbe7f9;
    height: 100vh;
    width: 100%;
    background-image: url("Airplane_splash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        font-size: 65px;
        text-shadow: 2px 2px 25px #000000;
        letter-spacing: 20px;
    }
    h3 {
        align-content: center;
        color:#dbe7f9;
        font-size: 87px;
        text-shadow: 2px 2px 25px #000000;
        letter-spacing: 50px;
    }
}
