.user-profile-container {
    display: flex;
}

.user-profile-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    strong {
        margin: 7px;
    }
}

.user-profile-info {
    margin: 15px;
    border: 0;
    box-shadow: 0px 0px 25px black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    min-width: 290px;
    img {
       margin: 0 auto;
       border: 5px solid #DBE7F9;
       border-radius: 25px;
    }
    p{
        margin: 5px 15px;
    }
    h1{
        width: 100%;
        text-align: center;
    }
}

